.nav {
    background-color:white;
    height: 52px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    align-content:center ;
   
}

.nutrilogo{
    width: 30%;
    padding-top: 15px;
    padding-left: 5px;
}

.nav-link{
    color:#F87113;
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .nav-link{
        color: #f87113;;
    }

    .nutrilogo{
        width: 100px;
       
    }
    

}