

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bla{
  background-color:#264653;
  height: 100%;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .bla{
  background-color:#264653;
  
    height: 100vh;
  }
  
}